* {
    margin: 0;
    padding: 0;
}

.Chess {
    width: 99vw;
    height: 99vh;
    background-image: url('chess1.jpg');
    background-size: cover;
}

.navigation {
    padding: 0.3125rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2.25rem;
    padding-left: 1.125rem;
}

.content {
    display: flex;
    gap: 1.5625rem;
}

.invert {
    filter: invert();
}

.navtxt {
    font-size: 1.25rem;
    font-style: bold;
    font-weight: 1000;
}

.title {
    margin-top: 9.375rem;
    margin-left: 2.5rem;
}

.l {
    font-size: 3.75rem;
    font-weight: 900;
    filter: invert();
}

.y {
    font-size: 4.375rem;
    font-weight: 1500;
    filter: invert();
}

.description {
    font-size: 1.1rem;
    font-weight: 500;
    color: white;
    margin-left: 4.375rem;
}

.btns {
    margin-top: 2.5rem;
    margin-left: 3.125rem;
}

.Buttons {
    display: flex;
    padding-right: 3.125rem;
    gap: 1.875rem;
    align-items: center;
    justify-content: center;
}

.trynow {
    border-radius: 1.5625rem;
    padding: 0.6875rem 1.25rem;
    color: white;
    font-style: bold;
    background-color: #a388e7;
    font-size: 1.25rem;
    border: 0.125rem solid white;
}

.BodyCont {
    margin-top: 1.875rem;
    margin-left: 1.25rem;
}

.despan {
    display: block;
}

.btns {
    display: flex;
    gap: 0.9375rem;
}

.trbt {
    border-radius: 1.25rem;
    padding: 0.6875rem 1.25rem;
    color: #a388e7;
    font-style: bold;
    background-color: white;
    font-size: 1.25rem;
    border: 0.125rem solid white;
}

.desc {
    margin-top: 6.25rem;
    height: 15.625rem;
    display: flex;
    gap: 6.25rem;
}

.magnimg {
    margin-left: 6.25rem;
    width: 25rem;
    height: 150%;
    border-radius: 1.875rem;
    cursor: pointer;
}

.aim {
    font-size: 3.125rem;
    font-weight: 700;
    color: rgb(127, 78, 226);
    letter-spacing: 1px;
}

.contentDesc {
    margin-top: 3.125rem;
}

.lve {
    font-size: 2.8125rem;
    font-weight: 500;
    color: black;
    word-spacing: 2px;
}

.incont {
    margin-top: 2.1875rem;
    margin-left: 0.3125rem;
    font-size: 1rem;
    color: gray;
}

.rectangle {
    margin-top: 11.125rem;
    background-color: #7f4ee2;
    width: 90vw;
    height: 70vh;
    margin-left: 4.375rem;
    margin-right: 1.875rem;
    border-radius: 1.875rem;
    text-align: center;
    position: relative;
}

.rectangle p {
    display: block;
}

.txtpro {
    font-size: 3.125rem;
    font-weight: 500;
    color: white;
}

.rectangle p span {
    font-weight: 1200;
    font-size: 3.375rem;
}

.chess1 {
    left: 2.1875rem;
    width: 18.75rem;
    height: 18.75rem;
    position: absolute;
    top: 0.078125rem;
}

.chess2 {
    right: -3.75rem;
    width: 11.875rem;
    height: 9.0625rem;
    position: absolute;
    top: 6.25rem;
}

.conts {
    position: relative;
}

.centreconts {
    position: absolute;
    top: 12.5rem;
    left: 21.875rem;
}

.footer {
    background-image: url('bg.jpg');
    width: 90vw;
    height: 100vh;
    background-size: cover;
    padding: 3.125rem;
    position: relative;
}

.followus {
    display: flex;
    gap: 0.625rem;
    margin-top: 1.25rem;
}

.followus .ims img {
    width: 3.125rem;
    height: 3.125rem;
    filter: invert();
}

.txxt {
    font-size: 6.25rem;
    font-weight: 1000;
    filter: invert();
}

.fl {
    margin-top: 6.25rem;
    filter: invert();
    font-size: 1.5625rem;
    font-weight: 200;
}

.footercontents {
    display: flex;
    gap: 6.25rem;
    position: absolute;
    bottom: 4.375rem;
    filter: invert();
}

.ques {
    width: 96vw;
    height: 120vh;
    border-radius: 0.625rem;
    background-color: #f2f2f2;
    margin: 0.625rem;
}

.ques p {
    padding: 3.125rem;
    font-weight: 800;
    font-size: 3.125rem;
}

.quess {
    border: 0.125rem solid white;
    border-radius: 1.875rem;
    width: auto;
    height: auto;
    padding: 2.5rem;
    font-size: 1.5625rem;
    font-weight: 900;
    background-color: white;
    margin: 1.25rem;
}

